{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}

<h2>Register page</h2>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register User">
</form>
<p>Already have an account <a href="{% url 'login' %}">Login</a></p>

{% else %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">

    Doesn't have an account <a href="{% url 'register' %}">Signup</a>
</form>
{% endif %}

{% endblock %}